/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global styles.css or tailwind.css */

::-webkit-scrollbar {
  width: 8px; /* scrollbar width */
}

::-webkit-scrollbar-track {
  background: transparent; /* remove track background */
}

::-webkit-scrollbar-thumb {
  background-color: #0d0f12; /* your Tailwind brand color */
  border-radius: 9999px; /* fully rounded */
  min-height: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4d997a; /* darker on hover */
}

.custom-scroll::-webkit-scrollbar-thumb {
  opacity: 0;
}
.custom-scroll:hover::-webkit-scrollbar-thumb {
  opacity: 1;
}
